
@import "tmlib.less";


/*
 * font
 */
/*
@font-face {
  font-family: "WebSymbolsRegular";
  src: url('../font/websymbols-regular-webfont.ttf');
}
*/

@font-face {
  font-family: "ModernPictogramsNormal";
  src: url('../font/modern-pictograms/modernpics-webfont.eot');
  src: url('../font/modern-pictograms/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/modern-pictograms/modernpics-webfont.woff') format('woff'),
       url('../font/modern-pictograms/modernpics-webfont.ttf') format('truetype'),
       url('../font/modern-pictograms/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}




/*
 * base
 */
* {
  margin: 0px;
  padding: 0px;
  
  #tm .box-sizing(border-box);
}

body {
  background-color: black;
  
  font-family: "Meiryo", "メイリオ", "ヒラギノ角ゴ Pro W3", sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  
  a {
    text-decoration: none;
  }
  
  a:visited {
    color: hsl(267, 85%, 43%);
  }
}

/*
 * header
 */
#header{
  width: 100%;
  background-color: black;
  background-image: url(../images/bg.jpg);
  background-size: 1200px;
  background-position: 100% 10%;
  background-repeat: no-repeat;
  
  hgroup {
    margin: 0px auto;
    padding-top: 50px;
    width: 1200px;
    height: 200px;
    color: white;
    
    h1 {
      -webkit-box-reflect:below 5px -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(0.4, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)) );
      
      a {
        font-size: 35px;
        font-style: italic;
        color: white;
        text-shadow: 2px 2px 2px #aaa;
      }
    }
    
    h2 {
      margin-top: 40px;
      margin-left: 10px;
      font-size: 14px;
    }
  }
}


/*
 * nav
 */
#nav {
  #tm .oily-filter(rgba(100, 100, 100, 0.5));
  
  ul {
    margin: 0px auto;
    width: 1200px;
    height: 40px;
    list-style: none;
    
    li {
      display: inline-block;
      width: 120px;
      height: 40px;
      text-align: center;
      border-left: 1px solid rgb(190, 190, 190);
      
      &:last-child {
        border-right: 1px solid rgb(190, 190, 190);
      }
      
      // inline-block の隙間解消
      // <http://coliss.com/articles/build-websites/operation/css/css-tutorial-space-between-inline-block-elements-by-css-tricks.html>
      margin-right: -4px;
      
      a {
        display: block;
        width: 120px;
        height: 40px;
        border-left: 1px solid #777;
        
        line-height: 40px;
        color: white;
        
        #tm .transition(250ms);
        
        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 8px 0px white;
        }
      }
    }
  }
}


/*
 * contents
 */
#contents {
  background-color: hsl(240, 10%, 95%);
  
  #main {
    margin: 0px auto;
    padding: 10px 20px 40px;
    width: 1200px;
    background-color: white;
    box-shadow: 0px 4px 8px 0px black;
    
    #tm .clearfix;
  }
}

#articles {
  float: left;
  margin: 10px;
  padding: 10px;
  width: 800px;
}

.entry {
  margin: 10px 0px 20px;
  padding-bottom: 40px;
  line-height: 1.7em;
  color: #222;
  
  h1 {
    @font-color: #444;
    @font-size: 25px;
    @font-color: hsl(220, 80%, 50%);
    @text-shadow-color: #aaf;
    
    margin: 1em 0em;
    border-bottom: 2.5px solid hsl(220, 80%, 50%);
    font-size: 30px;
    text-shadow: 2px 2px 4px @text-shadow-color;
    line-height: 1.3em;
    color: @font-color;
    
    a {
      color: @font-color;
    }
    
    &:before {
      content: '*';
      display: inline-block;
      position: relative;
      margin-right: -1em;
      left: -25px;
      top: -20px;
      color: yellow;
      font-size: 25px;
      font-family: "ModernPictogramsNormal";
      text-shadow: 1px 1px 2px #666;
      
      #tm .transition(500ms);
      #tm .rotate(45deg);
    }
    
    
    &:hover {
      &:before {
        color: red;
        #tm .rotate(360deg);
      }
    }
  }
  
  h2 {
    @font-color: #444;
    
    margin: 1.5em 0px 1.0em;
    border-bottom: solid 1px hsl(20, 80%, 50%); 
    font-size: 18px;
    color: hsl(20, 80%, 50%);
    // color: @font-color;
    line-height: 1.5em;
    
    
    &:before {
      content: "e";
      font-size: 30px;
      padding-right: 5px;
      font-family: "ModernPictogramsNormal";
    }
  }
  
  h3 {
    margin: 0.5em 0px;
    font-size: 16px;
    color: hsl(120, 50%, 50%);
    line-height: 1.3em;
    
    &:before {
      content: '>';
      padding-right: 5px;
      font-size: 24px;
      font-family: "ModernPictogramsNormal";
    }
  }
  
  h4 {
    margin: 1.3em 0px;
  }
  
  p {
    margin-bottom: 1.5em;
  }
  
  .demo, .download, .github, .jsdoit {
    font-size: 22px;
    padding-right: 30px;
    text-shadow: 1px 1px 2px hsl(0, 0%, 64%);
    
    #tm .transition(500ms);
    
    &:hover {
      font-size: 30px;
    }

  }
  
  .demo {
    color: hsl(220, 80%, 50%);
    &:before {
      content: 'E';
      font-size: 30px;
      padding-right: 5px;
      font-family: "ModernPictogramsNormal";
    }
  }
  
  .download {
    color: hsl(320, 80%, 50%);
    &:before {
      content: 'D';
      font-size: 30px;
      padding-right: 5px;
      font-family: "ModernPictogramsNormal";
    }
  }
  
  .github {
    color: hsl(70, 80%, 50%);
    &:before {
      content: ')';
      font-size: 30px;
      padding-right: 5px;
      font-family: "ModernPictogramsNormal";
    }
  }
  
  .jsdoit {
    color: hsl(520, 80%, 50%);
    &:before {
      content: '(';
      font-size: 30px;
      padding-right: 5px;
      font-family: "ModernPictogramsNormal";
    }
  }
}


/*
 * side
 */
#side {
    float: right;
    padding: 10px;
    width: 300px;
}


/*
 * footer
 */
#footer {
  min-height: 300px;
  max-height: 300px;
  background-color: black;
  background-image: url(../images/bg.jpg);
  background-size: 1200px;
  background-position: 100% 90%;
  background-repeat: no-repeat;
  border-top: 15px solid hsla(240, 50%, 90%, 0.5);
  
  color: white;
  
  a {
    color: hsl(230, 100%, 80%);
    
    &:visited {
      color: hsl(230, 100%, 70%);
    }
  }
  
  address {
    padding: 20px;
    background-color: hsla(220, 100%, 80%, 0.25);
    text-align: center;
  }
}

#footer-aside {
  #tm .clearfix;
  width: 1200px;
  margin: 0px auto;
  
  .footer-widget {
    float: left;
    
    .side-box {
      padding: 15px 20px;
      width: 400px;
      
      h1 {
        border-bottom: 1px solid #ccc;
        line-height: 1.7em;
      }
    }
  }
}





















