
@import "tmlib.less";
@import "reset.less";
@import "variables.less";


/*
 * constant
 */
@page-width: 1100px;
@main-width: 720px;
@side-width: 300px;

@contents-bg-image: "carbon_fibre.png";
@contents-bg-image: "padded.png";
@contents-bg-image: "bo_play_pattern.png";
@contents-bg-image: "random_grey_variations.png";
@contents-bg-image: "purty_wood.png";
@contents-bg-image: "cartographer.png";
@contents-bg-image: "mochaGrunge.png";

// @main-bg-image: ~`"rockywall.png,gplaypattern.png".split(',')[(Math.random()*2)|0]`;
@main-bg-image: "gradient_squares.png";
@main-bg-image: "rockywall.png";
@main-bg-image: "gplaypattern.png";
@main-bg-image: "white_tiles.png";


/*  
 * base
 */
* {
  margin: 0px;
  padding: 0px;
  
  #tm .box-sizing(border-box);
}

body {
  background-color: black;
  
  font-family: "Meiryo", "メイリオ", "ヒラギノ角ゴ Pro W3", sans-serif;
  font-size: @font-size;
  line-height: 1.5em;
  
  a {
    text-decoration: none;
    color: hsl(220, 100%, 50%);
  }
  
  a:visited {
    color: hsl(260, 90%, 50%);
  }
}

/*
 * header
 */
#header{
  width: 100%;
  background-color: black;
  background-image: url(../images/bg.jpg);
  background-size: @page-width;
  background-position: 100% 10%;
  background-repeat: no-repeat;
  
  hgroup {
    margin: 0px auto;
    padding-top: 60px;
    width: @page-width;
    height: 180px;
    color: white;
    
    h1 {
      -webkit-box-reflect:below 5px -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(0.4, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)) );
      
      a {
        font-size: 40px;
        font-style: italic;
        color: white;
        text-shadow: 2px 2px 2px #aaa;
      }
    }
    
    h2 {
      margin-top: 40px;
      margin-left: 10px;
      font-size: 14px;
    }
  }
  
  .links {
    margin: 20px auto;
    width: @page-width;
    height: 60px;
    text-align: right;
    
    // 下揃え対策
    position: relative;
    
    ul {
      // 下揃え対策
      position: absolute;
      bottom: 0;
      right: 0;
      
      li {
        margin-right: 10px;
        display: inline-block;
        a {
          font-size: 40px;
          font-family: "fontello";
          color: white;
          line-height: 60px;
          text-shadow: 0px 0px 4px #fff;
          
          #tm .transition(500ms);
          
          &:hover {
            font-size: 65px;
            
            &.github {
              color: hsl(120, 0%, 50%);
            }
            
            &.twitter {
              color: hsl(240, 90%, 80%);
            }
            
            &.rss {
              color: hsl(20, 90%, 80%);
            }
            
            &.gplus {
              color: hsl(0, 90%, 80%);
            }
          }
          
        }
      }
    }
  }
}


/*
 * nav
 */
#nav {
  background: rgba(200, 200, 200, 0.5);
  #tm .oily-filter(rgba(100, 100, 100, 0.5));
  
  ul {
    margin: 0px auto;
    width: @page-width;
    height: 40px;
    list-style: none;
    
    li {
      display: inline-block;
      width: 120px;
      height: 40px;
      text-align: center;
      border-left: 1px solid rgb(190, 190, 190);
      
      &:last-child {
        border-right: 1px solid rgb(190, 190, 190);
      }
      
      // inline-block の隙間解消
      // <http://coliss.com/articles/build-websites/operation/css/css-tutorial-space-between-inline-block-elements-by-css-tricks.html>
      margin-right: -4px;
      
      a {
        display: block;
        width: 120px;
        height: 40px;
        border-left: 1px solid #777;
        
        line-height: 40px;
        color: white;
        
        #tm .transition(250ms);
        
        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 8px 0px white;
        }
      }
    }
  }
}


/*
 * contents
 */
#contents {
  background-color: hsl(240, 10%, 80%);
  background-image: url("../images/@{contents-bg-image}");

  #main {
    margin: 0px auto;
    padding: 10px 20px 40px;
    width: @page-width;
    background-color: white;
    background-image: url("../images/@{main-bg-image}");

    box-shadow: 0px 4px 8px 0px #000;
    
    #tm .clearfix;
  }
}

#articles {
  float: left;
  margin: 10px;
  padding: 10px;
  width: @main-width;
}

.entry {
  margin: 10px 0px 20px;
  padding-bottom: 50px;
  line-height: 1.7em;
  color: #222;
  
  header {
    border-bottom: 1px solid hsla(220, 80%, 50%, 0.2);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
    margin-bottom: 20px;

    h1 {
      @font-color: #444;
      @font-size: 180%;
      @font-color: hsl(220, 80%, 50%);
      @text-shadow-color: #aaf;
      
      margin: 4px 0em;
      font-size: @font-size;
      text-shadow: 2px 2px 4px @text-shadow-color;
      line-height: 1.2em;
      color: @font-color;
      
      a {
        color: @font-color;
      }
      
      /*
      &:before {
        content: @icon-star;
        display: inline-block;
        position: relative;
        margin-right: -1em;
        left: -25px;
        top: -20px;
        color: yellow;
        font-size: 15px;
        font-family: "fontello";
        text-shadow: 1px 1px 2px #666;
        
        #tm .transition(500ms);
        #tm .rotate(45deg);
      }
      */
      
      &:hover {
        &:before {
          color: red;
          #tm .rotate(360deg);
        }
      }
    }
  }
  
  h2 {
    @font-color: #444;
    
    clear: both;
    margin: 1.5em 0px 1.0em;
    border-bottom: 1px solid hsla(20, 80%, 50%, 0.2);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);


    font-size: 18px;
    color: hsl(20, 80%, 50%);
    // color: @font-color;
    line-height: 1.5em;
    text-shadow: 0 1px 2px rgba(0,0,0,0.15);
    
    a {
      color: hsl(20, 80%, 50%);
    }
    
    &:before {
      content: @icon-pencil-4;
      font-size: 27px;
      padding-right: 5px;
      font-family: "fontello";
    }
  }
  
  h3 {
    margin: 40px 0px 2px;
    font-size: 14px;
    color: hsl(180, 50%, 50%);
    text-shadow: 0px 0px 2px #fff;
    line-height: 1.3em;
    
    a {
      color: hsl(120, 50%, 50%);
    }
    
    &:before {
      content: @icon-right-circle;
      padding-right: 5px;
      font-size: 16px;
      font-family: "fontello";
    }
  }
  
  h4 {
    margin: 1.3em 0px;
    border-left: 4px solid hsl(0, 0%, 80%);
    padding-left: 5px;
  }
  
  
  .blog-info {
    
    text-align: right;
    font-size: 12px;
    
    ul {
      margin: 4px;
      list-style:none;
      
      li {
        display: inline-block;
        margin-left: 10px;
        
        a {
          
        }
        
        &:before {
          font-size: 16px;
          padding-right: 5px;
          font-family: "fontello";
          text-shadow: 0px 0px 2px #222;
        }
        
        &.date {
          &:before {
            color: hsl(0, 50%, 40%);
            content: @icon-calendar-2;
          }
        }        
        &.cat {
          &:before {
            color: hsl(60, 80%, 50%);
            content: @icon-folder;
          }
        }        
        &.tag {
          &:before {
            color: hsl(240, 50%, 50%);
            content: @icon-tags;
          }
        }
      }
    }
  }
  
  .content {
    
    #tm .clearfix;
    
    p, ol, ul, div, pre {
      margin-bottom: 1.5em;
    }
    
    ul, ol {
      padding-left: 30px;
      
      ul, ol {
        margin-bottom: 0px;
      }
    }
    
    img {
      max-width: 640px;
      padding: 10px;
      border: 1px solid #aaa;
      border-radius: 5px;
      background-color: rgb(250, 250, 250);
      
      #tm .transition(1s);
      
      box-shadow: 0px 0px 8px #aaf;
      
      &:hover {
        box-shadow: 0px 0px 16px #aaf;
      }
    }
    
    table {
      margin-bottom: 1.5em;
      border-collapse: separate;
      border-spacing: 2px;
      
      tr {
        &:nth-child(odd) {
          background-color: hsl(216, 100%, 95%);
        }
      }
      
      th {
        padding: 5px 10px;
        color: white;
        background-color: hsl(220, 90%, 70%);
      }
      
      td {
        padding: 5px 10px;
        border: solid 1px hsl(0, 0%, 90%);
      }
      
    }
    
    p {
      a {
        #tm .transition(200ms);
      }
      
      &:hover {
        a {
          font-style: italic;
          text-shadow: 0px 0px 4px hsl(230, 100%, 70%);
          text-decoration: underline;
        }
      }
    }
    
    dl {
      dt {
        margin: 1.5em 0 0.5em;
        padding-left: 5px;
        border-bottom: 1px dotted #aaa;
        font-weight: bold;
      }
      
      dd {
        margin: 0.0em 1.0em;
        padding: 8px;
        // background-color: hsla(210, 100%, 98%, 1.0);
        // border-left: 4px solid #000;
        // border-left-color: hsla(220, 100%, 70%, 1.0);
      }
    }
    
    blockquote {
      background-color: hsla(0, 0%, 98%, 1);
      border-left: 5px solid hsl(200, 50%, 88%);
      margin-left: 5px;
      padding-left: 15px;
    }
    
    code {
      margin: 0px 2px;
      padding: 2px 5px;
      white-space: nowrap;
      border: 1px solid hsl(0, 0%, 90%);
      background-color: hsl(0, 0%, 97%);
      border-radius: 3px;
      
      font-family: 'Consolas', 'Monaco', 'ＭＳ ゴシック';
    }
    
    // 目次(table of contents)
    #toc {
      
      @font-color: hsl(0, 0%, 50%);
      
      margin: 1.5em 0px 1.0em;
      border-bottom: solid 0px hsl(20, 80%, 50%);
      box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);

      font-size: 15px;
      color: @font-color;
      line-height: 1.5em;
      
      &:before {
        content: @icon-feather;
        font-family: "fontello";
        font-size: 25px;
      }
      
      &:before {
        padding-right: 5px;
      }
      
      &:after {
        padding-left: 5px;
      }
      
      &+ul, &+ol {
        list-style: none;
        
        li {
          font-size: 12px;
          
          a {
            border-bottom: 1px dotted #aaa;
          }
          
          &:before {
            content: @icon-down-open-1;
            font-family: "fontello";
            padding-right: 5px;
            font-size: 16px;
          }
          
          ul, ol {
            list-style: none;
            margin-bottom: 0px;
          }
          
        }
      }
    }
    
    a[href="#toc"] {
      display: inline-block;
      width: 100%;
      padding-right: 5px;
      font-size: 14px;
      text-align: right;
      
      &:before {
        content: @icon-up-open-1;
        font-family: "fontello";
        font-size: 18px;
        padding-right: 5px;
      }
    }
    
    
    .more-link {
      float: right;
      padding: 5px 10px;
      margin: 0px 20px;
      border-radius: 5px;
      box-shadow: 0px 0px 2px #aaa;
      #tm .oily-filter(rgba(200, 200, 220, 0.5));
      
      #tm .transition(200ms);
      
      &:hover {
        box-shadow: 0px 0px 2px #aaa,0px 0px 8px #88f;
      }
      
      &:after {
        content: @icon-right-open @icon-right-open;
        font-family: "fontello";
        font-size: 16px;
        padding-left: 5px;
      }
      
    }

  }

  footer {
    min-height: 10px;
    border-bottom: 2px dashed hsla(0, 0%, 40%, 0.5);
  }
  
  .entry-links {
    #tm .clearfix;
    
    margin: 40px 0px;
    padding: 20px 5px;
    border-top: double 4px black;
    border-bottom: double 4px black;
    
    .left-entry-link {
      float: left;
      width: 40%;
      text-align: right;
      
      &:before {
        content: @icon-reply;
        font-family: "fontello";
        padding-right: 5px;
      }
    }
    
    .center-entry-link {
      float: left;
      width: 20%;
      text-align: center;
    }
    
    .right-entry-link {
      float: right;
      width: 40%;
      text-align: left;
      
      &:after {
        content: @icon-forward;
        font-family: "fontello";
        padding-left: 5px;
      }
    }
  }
  
  .demo, .download, .github, .jsdoit {
    display: inline-block;
    font-size: 18px;
    //padding: 10px 20px;
    margin: 0px 5px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px hsl(0, 0%, 64%);
    
    #tm .transition(1s);
    
    &:hover {
      //font-size: 30px;
    }
  }
  
  .demo {
    color: hsl(220, 80%, 50%);
    &:before {
      content: 'E';
      font-size: 25px;
      padding-right: 5px;
      
      content: @icon-eye-1;
      font-family: "fontello";
    }
  }
  
  .download {
    color: hsl(320, 80%, 50%);
    &:before {
      content: 'D';
      font-size: 25px;
      padding-right: 5px;
      
      content: @icon-download;
      font-family: "fontello";
    }
  }
  
  .github {
    color: hsl(70, 80%, 50%);
    &:before {
      content: ')';
      font-size: 25px;
      padding-right: 5px;
      
      content: @icon-github;
      font-family: "fontello";
    }
  }
  
  .jsdoit {
    color: hsl(520, 80%, 50%);
    &:before {
      content: '(';
      font-size: 25px;
      padding-right: 5px;
      
      content: @icon-wrench-2;
      font-family: "fontello";
    }
  }
  
  .document {
    color: hsl(120, 80%, 50%);
    &:before {
      content: '(';
      font-size: 25px;
      padding-right: 5px;
      
      content: @icon-wrench-2;
      font-family: "fontello";
    }
  }
}


/*
 * side
 */
#side {
    float: right;
    padding: 10px;
    width: @side-width;
    
    .side-box {
      margin: 10px 5px 40px;
      
      h1 {
        border-bottom: 1px solid #ccc;
        line-height: 1.7em;
      }
      
      .contents {
        padding-top: 10px;
        font-size: 12px;
        
        ul {
          list-style: none;
          
          li {
            margin-bottom: 5px;
            border-bottom: 1px dotted #aaa;
            a {
              #tm .transition(500ms);
            }
          }
          
          &:hover {
            
            li {
              
              &:hover {
                a {
                  text-shadow: 0px 0px 4px hsl(230, 100%, 70%);
                }
              }
              
              &:not(:hover) {
                a {
                  color: transparent;
                  text-shadow: 0px 0px 3px hsla(230, 100%, 70%, 0.5);
                }
              }
            }
            
          }
          
        }
      }
      
      .tagcloud {
        a {
          #tm .transition(200ms);
        }
        
        &:hover {
          a {
            &:hover {
              text-shadow: 0px 0px 1px hsla(230, 100%, 70%, 0.5);
            }
            &:not(:hover) {
              color: transparent;
              text-shadow: 0px 0px 3px hsla(230, 100%, 70%, 0.5);
            }
          }
        }
      }
      
    }
}


/*
 * footer
 */
#footer {
  min-height: 300px;
  max-height: 300px;
  background-color: black;
  background-image: url(../images/bg.jpg);
  background-size: @page-width;
  background-position: 100% 90%;
  background-repeat: no-repeat;
  border-top: 15px solid hsla(240, 50%, 90%, 0.5);
  
  color: white;
  
  a {
    color: hsl(230, 100%, 80%);
    
    &:visited {
      color: hsl(230, 100%, 70%);
    }
  }
  
  address {
    padding: 20px;
    background-color: hsla(220, 100%, 80%, 0.25);
    text-align: center;
  }
}

#footer-aside {
  #tm .clearfix;
  width: @page-width;
  margin: 0px auto;
  
  .footer-widget {
    float: left;
    padding: 20px 0px;
    
    .side-box {
      padding: 15px 20px;
      width: @page-width/3;
      
      h1 {
        border-bottom: 1px solid #ccc;
        line-height: 1.7em;
      }
      
      .contents {
        padding-top: 10px;
        font-size: 12px;
        
        ul {
          list-style: none;
          
          ul {
            li {
              padding-left: 20px;
              border-bottom: 0px;
            }
          }
          
          li {
            margin-bottom: 5px;
            border-bottom: 1px dotted #888;
              
            a {
              #tm .transition(500ms);
            }
          }
          
          &:hover {
            
            li {
              
              &:hover {
                a {
                  text-shadow: 0px 0px 4px hsl(230, 100%, 70%);
                }
              }
              
              &:not(:hover) {
                a {
                  color: transparent;
                  text-shadow: 0px 0px 3px hsla(230, 100%, 70%, 0.5);
                }
              }
            }
            
          }
          
        }
      }
      
      .tagcloud {
        a {
          #tm .transition(200ms);
        }
        
        &:hover {
          a {
            &:hover {
              text-shadow: 0px 0px 1px hsla(230, 100%, 70%, 0.5);
            }
            &:not(:hover) {
              color: transparent;
              text-shadow: 0px 0px 3px hsla(230, 100%, 70%, 0.5);
            }
          }
        }
      }
    }
  }
  
}







.center {
    text-align: center;
}













